.quote {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 789px;

        .quote-text {
            font-family: Gillsemibolditalic;
            font-style: italic;
            padding-bottom: 40px;
            font-size: 15px;
            font-weight: 600;
            color: #FFD140;
            line-height: 1.6;
            letter-spacing: 1px;
        }


        .author {
            color: #ee4367;
            margin-bottom: 0px;
            font-family: Serifreg;
            font-size: 15px;
            padding-bottom: 7px;
        }

        .title {
            font-size: 10px;
            font-family: Serifreg;
            color: #A8A8A8;
        }
    }
}

@media (max-width: 880px) {
    .quote {
        height: 350px;
        padding: 0 50px;
    }
}
